:root {
    --primary-color: #1e1f24;
    --secondary-color: #ff9365;
    --white: #ffffff;
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-weight: 200 !important;
    letter-spacing: .1rem;
}

h1, h2 {
    font-weight: 700 !important;
}

#hero {
    position: relative;
}

.bg-dark {
    background-color: var(--primary-color);
}

.logo {
    min-width: 180px;
    max-width: 160px;
}

a {
    color: rgba(256, 256, 256, 0.2);
   
}

a:hover {
    color: rgba(256, 256, 256,0.5);
}

.navbar {
    min-height: 80px;
}

.nav-link {
    color: rgba(256, 256, 256,0.2);
}

.navbar-toggler {
    color: rgba(256, 256, 256, 0.2);
    
}

.content {
    margin-top: 5rem;
    padding: 0 4rem;
}

.left-border {
    border-left: 7px solid rgba(256, 256, 256, 0.2);
}

.active {
    color: var(--secondary-color);
    
}

.active:hover {
    color: var(--secondary-color);
}



.lead {
    font-size: 1.5rem;
    font-weight: 200;
}

.carousel-inner {
    max-height: 100vh;
}

.carousel-button {
    position: absolute;
    bottom: 0;
    background-color: rgba(256, 256, 256,0.65);
    width: 100%;
}

.text-primary {
    color: var(--primary-color) !important;
}

a.text-primary:hover {
    color: var(--primary-color) !important;
}

.carousel-control-next,
.carousel-control-prev {
    top: unset;
    bottom: 150px;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev{
    left: 10px;
}

ion-icon {
    margin-left: -20px;
    
}

.video-button {
    
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 140px;
    width: 140px;
    font-size: 90px;
    padding: 0 45px;
    z-index: 999;
    background-color: var(--primary-color) !important;
    border-radius: 50%;
    border: 10px solid rgba(256, 256, 256,0.3);
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-appearance: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.video-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@media (max-width: 575.99px) {
    .content{
        padding: 0 1rem;
        margin-bottom: 5rem;
    }
    .content h1 {
        font-size: 4rem;

   
}

@media (max-width: 768px){
    .video-button {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .content {
        margin-bottom: 5rem;
    }
   
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .content{
        margin-top: 3rem;
    }
    .content h1 {
        font-size: 4rem;

    }
}
